.contact{
    padding-top: 5.5rem;
}
.contact__title h1 {
  margin-bottom: 1rem;
}
.contact__title p {
  margin-bottom: 3rem;
}
.contact__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  gap: 1.5rem;
}
.contact__wrapper input {
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
}
.contact__wrapper input,
textarea {
  width: 100%;
}
.contact__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__first,
.content__last {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.contact__btn {
  background-color: var(--bg-primary);
  color: #fff;
  outline: 0;
  text-decoration: none;
  height: 3rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
}
@media screen and (min-width: 767px) {
    .contact__wrapper {
      width: 60%;
    }
  }