@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Raleway", sans-serif;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
a {
  color: var(--text-primary);
}
:root {
  /* color */
  --bg-primary: #000000;
  --text-primary: #222222;
  --bg-secondary: #ffffff;
  --text-secondary: #ffffff;
  --bg-btn: #404f56;
  --hover: #444444;
  --divider: #f4f4f4;

  /* font-weight */
  --bold-font: 700;
  --regular-font: 400;
}
.hidden {
  display: none;
}
.btn_secondary {
  margin: 5px 0;
  background-color: var(--bg-primary);
  color: var(--bg-secondary);
}
.footer_btn {
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  border-radius: 5px;
}
.division {
  width: 100%;
  height: 2px;
  background-color: var(--divider);
  margin: 5.5rem 0;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup_inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
}
.popup_inner .close_btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: navajowhite;
  background: var(--bg-secondary);
  font-size: 1.2rem;
}
@media screen and (min-width: 767px) {
  .hidden {
    display: block;
  }
}
